{% extends 'base.html' %}

{% load static %}

{% block content %}

<style>
    /* Gaya untuk container utama */
.edit-product-container {
    background-color: #9b4c258e;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
}

/* Gaya untuk judul */
.edit-product-heading {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Bahnschrift SemiBold';
}

/* Gaya untuk form */
.edit-product-form {
    text-align: left;
}

/* Gaya untuk tombol */
.edit-product-btn {
    background-color: #8B4513;
    color: #ffffffd8;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
}

/* Efek hover pada tombol */
.edit-product-btn:hover {
    background-color: #A0522D;
}
</style>

<div class="edit-product-container">
    <h1 class="edit-product-heading">Edit Product</h1>

    <form method="POST" class="edit-product-form">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td>
                    <button class="edit-product-btn" type="submit">Edit Product</button>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
